<div class="flex items-center justify-center h-full">
  <div
    class="text-center my-4 mx-8 p-4 max-w-sm md:rounded-lg md:border-[1px] md:border-[#BDBDBD]"
  >
    <img class="mb-8" src="../../assets/devchallenges.svg" />
    <div class="max-w-[85%]">
      <p class="top-text whitespace-normal text-left">
        Join thousands of learners from around the world
      </p>
    </div>

    <div class="max-w-[100%] mb-12">
      <p class="sub-text whitespace-normal text-left">
        Master web development by making real-life projects. There are multiple
        paths for you to choose
      </p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label class="relative block my-4" for="email">
        <span class="sr-only">Search</span>
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <img
            class="h-5 w-5 fill-slate-300 filter"
            src="../../assets/email-svgrepo-com.svg"
          />
        </span>
        <input
          class="invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 peer placeholder:Noto Sans placeholder:text-[#828282] block bg-white w-full border border-[#BDBDBD] rounded-md py-3 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm text-['Noto Sans']"
          placeholder="Email"
          type="email"
          id="email"
          name="search"
          formControlName="email"
        />
      </label>

      <div>
        <label class="relative block my-4" for="password">
          <span class="sr-only">Search</span>

          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <img
              class="h-6 w-5 fill-slate-300"
              src="../../assets/padlock.svg"
            />
          </span>

          <input
            class="placeholder:noto sans placeholder:text-[#828282] block bg-white w-full border border-[#BDBDBD] rounded-md py-3 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm text-['Noto Sans']"
            placeholder="Password"
            id="password"
            type="password"
            formControlName="password"
          />
        </label>
      </div>

      <button
        [disabled]="!registerForm.valid"
        class="antialiased button text-base tracking-tight text-[#FFFFFF] w-[100%] bg-[#2F80ED] hover:bg-blue-600 my-4 py-2 rounded-lg"
        type="submit"
      >
        Start coding now
      </button>

      <p class="py-4 text-[#828282]">or continue with these social profile</p>
      <div class="flex justify-around mx-8 mb-10">
        <img class="" src="../../assets/Google.svg" />
        <img class="" src="../../assets/Gihub.svg" />
        <img class="" src="../../assets/Facebook.svg" />
        <img class="" src="../../assets/Twitter.svg" />
      </div>

      <p class="text-[#828282]">
        Adready a member?
        <button
          type="submit"
          class="text-blue-500 cursor-pointer"
          (click)="redirectToLogin()"
        >
          Login
        </button>
      </p>
    </form>
  </div>
</div>
