<div class="flex flex-col items-center">
  <p
    class="text-center pt-6 text-black font-['Noto_Sans'] text-2xl tracking-tight"
  >
    Personal info
  </p>
  <p
    class="text-center text-black font-['Noto_Sans'] tracking-tighter text-sm pb-6"
  >
    Basic info, like your and photo
  </p>

  <div class="grid-cols-1 grid divide-y-2 md:min-w-[1024px]">
    <div class="flex justify-between px-6 items-center h-24">
      <div>
        <p class="font-['Noto_Sans'] text-2xl tracking-tighter">Profile</p>
        <p
          class="text-sm font-['Noto_Sans'] tracking-tighter text-[#828282] max-w-[70%]"
        >
          Some info may be visible to other people
        </p>
      </div>
      <div>
        <button
          class="px-8 py-2 border-[1px] border-[#828282] rounded-2xl font-['Noto_Sans'] tracking-tighter text-base text-[#828282]"
        >
          Edit
        </button>
      </div>
    </div>

    <div class="flex justify-between px-6 items-center h-24">
      <div>
        <span
          class="align-middle text-sm font-['Noto_Sans'] tracking-tighter text-[#828282]"
        >
          Photo
        </span>
      </div>
      <div>
        <img
          class="w-[72px] h-[72px] rounded-lg"
          src="https://static.vecteezy.com/system/resources/previews/002/275/847/original/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg"
        />
      </div>
    </div>

    <div class="flex justify-between px-6 items-center h-24">
      <div class="">
        <span
          class="align-middle text-sm font-['Noto_Sans'] tracking-tighter text-[#828282]"
        >
          NAME
        </span>
      </div>
      <div>
        <span
          class="align-middle font-['Noto_Sans'] text-black tracking-tighter text-base"
        >
          Example name
        </span>
      </div>
    </div>

    <div class="flex justify-between px-6 items-center h-24">
      <div>
        <span
          class="align-middle text-sm font-['Noto_Sans'] tracking-tighter text-[#828282]"
        >
          Bio
        </span>
      </div>
      <div>
        <span
          class="align-middle font-['Noto_Sans'] text-black tracking-tighter text-base"
        >
          Example bio
        </span>
      </div>
    </div>

    <div class="flex justify-between px-6 items-center h-24">
      <div>
        <span
          class="align-middle text-sm font-['Noto_Sans'] tracking-tighter text-[#828282]"
        >
          EMAIL
        </span>
      </div>
      <div>
        <span
          class="align-middle font-['Noto_Sans'] text-black tracking-tighter text-base"
        >
          nicobes14@gmail.com
        </span>
      </div>
    </div>

    <div class="flex justify-between px-6 items-center h-24">
      <div>
        <span
          class="align-middle text-sm font-['Noto_Sans'] tracking-tighter text-[#828282]"
        >
          PASSWORD
        </span>
      </div>
      <div>
        <span
          class="align-middle font-['Noto_Sans'] text-black tracking-tighter text-base"
        >
          ******************
        </span>
      </div>
    </div>
  </div>
</div>
